* {
 padding: 0;
 border: 0;
 margin: 0;
 box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--orange-light);
  color: var(--black);
  font-weight: var(--normal-text);
  font-size: var(--md-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}